@using System.Globalization
<div style="background-image: url('/images/title.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center; padding-top: 300px; margin: 0 -.5rem;">
    <div style="background-color: rgba(255,255,255,0.75); ">
        <h1 class="is-title is-size-1 has-text-centered mt-5">Kinder&shy;waren&shy;basar Neufelden</h1>

        <div class="columns mt-5">
            <div class="column is-half has-text-centered">
                <h2 class="is-title is-size-3">@Settings.EventStartDate.ToString("d.") – @Settings.EventEndDate.ToString("d. MMMM yyyy")</h2>
            </div>
            <div class="column is-half has-text-centered">
                <h2 class="is-title is-size-3">Turnsaal der Volksschule Neufelden<br/>Marktplatz 12, 4120 Neufelden</h2>
            </div>
        </div>
    </div>
</div>

<div class="columns mt-5">
    <div class="column">
        <h3 class="is-title is-size-5">
            Annahme der vorab eingeschriebenen Artikel
        </h3>
        <p>
            Donnerstag, @Settings.ArticlesDropOffDate.ToString("d. MMMM yyyy") von 17 bis 19:30 Uhr
        </p>
    </div>
</div>


<div class="columns mt-5">
    <div class="column">
        <h3 class="is-title is-size-5">
            Verkauf
        </h3>
        <p>
            @Settings.EventStartDate.ToString("dddd, d. MMMM yyyy") von 18 bis 21 Uhr<br/>
            @Settings.EventEndDate.ToString("dddd, d. MMMM yyyy") von 9 bis 11 Uhr
        </p>
    </div>
</div>


<div class="columns mt-5">
    <div class="column">
        <h3 class="is-title is-size-5">
            Abholung der nicht verkauften Waren
        </h3>
        <p>
            @Settings.EventEndDate.ToString("dddd, d. MMMM yyyy") von 16 bis 17 Uhr
        </p>
    </div>
    <div class="column">
        <h3 class="is-title is-size-5">
            Derzeitige Corona-Maßnahmen
        </h3>
        <p>
            @Html.Raw(Settings.CoronaText)
        </p>
    </div>
</div>

<div class="columns">
    <div class="column">
        <img src="~/images/logo.jpg" alt="Mütterrunde Logo" style="width:100%; max-width:200px; margin:2rem auto; display:block;"/>
    </div>
    <div class="column">
        <h3 class="is-title is-size-5">
            Diesen Artikeln geben wir gerne eine 2. Chance
        </h3>
        @Html.Raw(Settings.AllowedArticleTypes)
    </div>
</div>

@if (!Settings.RegistrationHasStarted)
{
    <div class="columns pt-5 pb-5">
        <div class="column">
            <p class="notification is-warning">
                Die Onlineeinschreibung ist von @Settings.RegistrationStartDate.ToString("dddd, d. MMMM yyyy") bis @Settings.RegistrationEndDate.ToString("dddd, d. MMMM yyyy") möglich.
                Um alle Artikel übersichtlich präsentieren zu können, ist die Anzahl insgesamt mit @Settings.MaxNumberOfArticles.ToString("N0", new CultureInfo("de-DE")) Stück begrenzt.
            </p>
        </div>
    </div>
}
else if (Settings.RegistrationHasEnded)
{
    <div class="columns pt-5 pb-5">
        <div class="column">
            <p class="notification is-warning">
                Die Onlineeinschreibung war bis @Settings.RegistrationEndDate.ToString("dddd, d. MMMM yyyy") möglich.
                Um alle Artikel übersichtlich präsentieren zu können, ist die Anzahl insgesamt mit @Settings.MaxNumberOfArticles Stück begrenzt.
            </p>
        </div>
    </div>
}
else if (Settings.RegistrationIsActive)
{
    <div class="columns pt-5 pb-5">
        <div class="column is-two-thirds">
            <p class="notification">
                Die Onlineeinschreibung ist von @Settings.RegistrationStartDate.ToString("dddd, d. MMMM yyyy") bis @Settings.RegistrationEndDate.ToString("dddd, d. MMMM yyyy") möglich.
                Um alle Artikel übersichtlich präsentieren zu können, ist die Anzahl insgesamt mit @Settings.MaxNumberOfArticles Stück begrenzt.
            </p>
        </div>
        <div class="column is-one-third">
            <p>
                <a asp-action="Register" asp-controller="Home" class="button is-info is-large is-fullwidth">Jetzt online einschreiben</a>
            </p>
        </div>
    </div>
}

<div class="columns">
    <div class="column">
        <h3 class="is-title is-size-5">
            Einschreibgebühr
        </h3>
        <p>
            10 Cent pro Artikel, sowie 20% vom Erlös werden einbehalten.
        </p>
    </div>
    <div class="column">
        <h3 class="is-title is-size-5">
            Noch Fragen?
        </h3>
        <p>
            Für Details zum Ablauf bzw. deine Fragen haben wir eine <a asp-action="Manual">Anleitung zur Onlineeinschreibung</a> zusammengestellt.
        </p>
    </div>
</div>

<div class="columns mt-5">
    <div class="column">
        <h3 class="is-title is-size-5">
            Kontaktpersonen
        </h3>
        <p>
            Ursula Pühringer: <a href="tel:+43 664 14 58 265">0664/14 58 265</a><br/>
            Daniela Haslmaier: <a href="tel:+43 699 12 51 71 15">0699/12 51 71 15</a><br/>
            E-Mail: <a href="mailto:basar@neufelden.at">basar@neufelden.at</a><br/>
            <a href="https://www.facebook.com/Basar-Neufelden-101183602264571" target="_blank">Facebook</a>
        </p>
    </div>
</div>


<div class="columns mt-5">
    @for (var i = 1; i <= 5; i++)
    {
        <div class="column is-one-fifth">
            <a href="~/images/photo0@(i).jpg" target="_blank">
                <img src="~/images/photo0@(i).jpg" alt="" class="is-fullwidth"/>
            </a>
        </div>
    }
</div>