@model Bazza.ViewModels.Admin.IndexViewModel

<h1 class="title">Dashboard</h1>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Persons
                </p>
                <p class="subtitle">
                    Registrierungen
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles
                </p>
                <p class="subtitle">
                    Artikel
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.ArticlesPrice.ToString("N2") €
                </p>
                <p class="subtitle">
                    Artikelwert
                </p>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Sales
                </p>
                <p class="subtitle">
                    Verkäufe
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.ArticlesSold
                </p>
                <p class="subtitle">
                    verkaufte Artikel
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.ArticlesPriceSold.ToString("N2") €
                </p>
                <p class="subtitle">
                    eingenommen
                </p>
            </div>
        </div>
    </div>
</div>