@using Microsoft.AspNetCore.Connections
@model Bazza.ViewModels.Admin.IndexViewModel

<h1 class="title">Dashboard</h1>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.DistinctBy(x => x.PersonId).Count()
                </p>
                <p class="subtitle">
                    Registrierungen<br/>
                    Davon <b> @Model.ArticlesInternalOnly.DistinctBy(x => x.PersonId).Count()</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Count
                </p>
                <p class="subtitle">
                    Artikel<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Count()</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Sum(x => x.Price).ToString("N2") €
                </p>
                <p class="subtitle">
                    Artikelwert<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Sum(x => x.Price) €</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Where(x => x.IsSold).DistinctBy(x => x.SaleId).Count()
                </p>
                <p class="subtitle">
                    Registrierungen<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Where(x => x.IsSold).DistinctBy(x => x.SaleId).Count()</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Count(x => x.IsSold)
                </p>
                <p class="subtitle">
                    Artikel verkauft (@((100d / Model.Articles.Count * Model.Articles.Count(x => x.IsSold)).ToString("N2")) %)<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Count(x => x.IsSold)</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Where(x => x.IsSold).Sum(x => x.Price).ToString("N2") €
                </p>
                <p class="subtitle">
                    eingenommen (@((100d / Model.Articles.Sum(x => x.Price) * Model.Articles.Where(x => x.IsSold).Sum(x => x.Price)).ToString("N2")) %)<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Where(x => x.IsSold).Sum(x => x.Price) €</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
</div>
<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Sum(x => x.ArticlesFee + x.ArticlesPercentage).ToString("N2") €
                </p>
                <p class="subtitle">
                    Provision verdient insgesamt
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Sum(x => x.ArticlesFee).ToString("N2") €
                </p>
                <p class="subtitle">
                    Einschreibgebühr verdient
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Sum(x => x.ArticlesPercentage).ToString("N2") €
                </p>
                <p class="subtitle">
                    Umsatzprovision verdient
                </p>
            </div>
        </div>
    </div>
</div>

<div class="columns">
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Count(x => x.IsBlocked)
                </p>
                <p class="subtitle">
                    Artikel blockiert (@((100d / Model.Articles.Count * Model.Articles.Count(x => x.IsBlocked)).ToString("N2")) %)<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Count(x => x.IsBlocked)</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <div class="card-content has-text-centered">
                <p class="title">
                    @Model.Articles.Where(x => x.IsBlocked).Sum(x => x.Price).ToString("N2") €
                </p>
                <p class="subtitle">
                    Artikelwert blockiert (@((100d / Model.Articles.Sum(x => x.Price) * Model.Articles.Where(x => x.IsBlocked).Sum(x => x.Price)).ToString("N2")) %)<br/>
                    Davon <b> @Model.ArticlesInternalOnly.Where(x => x.IsBlocked).Sum(x => x.Price) €</b> aus der Mütterrunde
                </p>
            </div>
        </div>
    </div>
</div>