@using System.Globalization
@using System.Reflection
@{ var version = typeof(Startup).Assembly.GetCustomAttribute<AssemblyInformationalVersionAttribute>()?.InformationalVersion; }

<!DOCTYPE html>
<html lang="@CultureInfo.CurrentUICulture.TwoLetterISOLanguageName">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Basar Neufelden</title>

    <script defer data-domain="basar.neufelden.at" src="https://plausible.io/js/plausible.js"></script>

    @* ReSharper disable once Html.PathError *@
    <link rel="stylesheet" href="~/css/bundle.css?v=@version"/>
</head>
<body>

<partial name="_Navigation" />

<main class="container" style="padding-left:.5rem; padding-right: .5rem;">
    @RenderBody()
</main>

<footer class="footer container">
    <div class="content has-text-centered">
        <p>
            Bei Fragen oder Schwierigkeiten bitte an @Settings.PrimaryResponsibleName unter <a href="mailto:@Settings.PrimaryResponsibleEmail">@Settings.PrimaryResponsibleEmail</a>
            oder <a href="tel:@Settings.PrimaryResponsiblePhone.NormalizePhoneNumber()">@Settings.PrimaryResponsiblePhone</a> wenden.<br/>
            v@(version) &copy; <a href="https://github.com/saxx/bazza">Hannes Sachsenhofer</a>
        </p>
    </div>
</footer>

@* ReSharper disable once Html.PathError *@
<script src="~/js/bundle.js?v=@version"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>
<!-- Bazza v@(version) -->
