@if (User.Identity?.IsAuthenticated == true)
{
    <nav class="navbar is-fixed-top has-shadow" role="navigation" aria-label="main navigation">
        <div class="container">
            <div class="navbar-brand">
                <a asp-action="@nameof(AdminController.Index)" asp-controller="Admin" class="navbar-item">
                    Dashboard
                </a>

                <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbar">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="navbar" class="navbar-menu">
                <div class="navbar-start">

                    @if (User.IsInRole(Roles.CanManagePersons))
                    {
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Registrierungen
                            </a>
                            <div class="navbar-dropdown">
                                <a asp-action="@nameof(AdminPersonsController.Persons)" asp-controller="AdminPersons" class="navbar-item">
                                    Übersicht
                                </a>
                                <a asp-action="@nameof(AdminPersonsController.PersonsStatistics)" asp-controller="AdminPersons" class="navbar-item">
                                    Statistiken
                                </a>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole(Roles.CanManageSales))
                    {
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Verkäufe
                            </a>
                            <div class="navbar-dropdown">
                                <a asp-action="@nameof(AdminSalesController.Sales)" asp-controller="AdminSales" class="navbar-item">
                                    Übersicht
                                </a>
                                <a asp-action="@nameof(AdminSalesController.Blocked)" asp-controller="AdminSales" class="navbar-item">
                                    Gesperrte Artikel
                                </a>
                                <a asp-action="@nameof(AdminSalesController.SalesStatistics)" asp-controller="AdminSales" class="navbar-item">
                                    Statistiken
                                </a>
                            </div>
                        </div>
                    }

                    @if (User.IsInRole(Roles.CanManageAdmin))
                    {
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Administration
                            </a>
                            <div class="navbar-dropdown">
                                <a asp-action="@nameof(AdminUsersController.Users)" asp-controller="AdminUsers" class="navbar-item">
                                    Benutzer
                                </a>
                                <a asp-action="@nameof(AdminController.Settings)" asp-controller="Admin" class="navbar-item">
                                    Einstellungen
                                </a>
                                <a asp-action="@nameof(AdminController.ClearData)" asp-controller="Admin" class="navbar-item">
                                    Daten löschen
                                </a>
                                <a href="~/admin/hangfire" class="navbar-item">
                                    Hintergrundjobs
                                </a>
                            </div>
                        </div>
                    }
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="buttons">
                            <a asp-action="@nameof(UserController.Logout)" asp-controller="User" class="button is-light">
                                Ausloggen
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </nav>
}
